




.checklist {
  padding-left: 80px;
  padding-top: 40px;
}

.checklist-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.item-type-subheading {
  font-size: 18px;
  margin-bottom: 8px;
}

.feature-table {
  margin-bottom: 25px;
  table-layout: fixed;
  width: 500px;
}


.table-name-header {
  text-align: left;
  font-weight: bold;
}

.table-lowPrice-header {
  text-align: right;
  font-weight: bold;
}

.table-highPrice-header {
  text-align: right;
  font-weight: bold;
}

.table-lowPrice {
  text-align: right;
}

.table-highPrice {
  text-align: right;
}

.table-total {
  text-align: right;
  font-weight: bold;
}

button {
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 3px 15px;
  border-radius: 10px;
  font-family: 'Raleway';
}